* {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

.u-margin-bottom-big {
  margin-bottom: 8rem; }

.u-margin-bottom-medium {
  margin-bottom: 4rem; }

.u-margin-bottom-small {
  margin-bottom: 2rem; }

.u-margin-top-big {
  margin-top: 8rem; }

.u-margin-top-medium {
  margin-top: 4rem; }

.u-margin-top-small {
  margin-top: 2rem; }

.card {
  border-top: 1.5px solid rgba(102, 102, 102, 0.81);
  padding: .5rem;
  height: 25rem;
  position: relative; }
  .card__icons {
    color: #FF5F5F;
    cursor: pointer;
    position: absolute;
    top: .5rem;
    right: 0; }
  .card__name {
    font-size: 120%; }
  .card__creator {
    font-size: 110%;
    color: rgba(183, 183, 183, 0.99); }
  .card__sample-text {
    font-size: 320%;
    height: 15rem;
    margin-top: 5rem;
    overflow: scroll; }
  .card__family--anton {
    font-family: 'Anton', sans-serif; }
  .card__family--bitter {
    font-family: 'Bitter', sans-serif; }
  .card__family--dancing-script {
    font-family: 'Dancing Script', sans-serif; }
  .card__family--dosis {
    font-family: 'Dosis', sans-serif; }
  .card__family--ljmc {
    font-family: 'Liu Jian Mao Cao', sans-serif; }
  .card__family--raleway {
    font-family: 'Raleway', sans-serif; }
  .card__family--shadows-into-light {
    font-family: 'Shadows into Light', sans-serif; }
  .card__family--staatliches {
    font-family: 'Staatliches', sans-serif; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 4rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^=col-] {
    float: left; }
    .row [class^=col-]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) /2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc((2 * ((100% - 2 * 6rem) / 3) + 6rem)); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc(2 *((100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc(3 *((100% - 3 * 6rem) / 4) + (2 * 6rem)); }

.footer {
  text-align: center; }

.minor-navigation {
  height: 7rem;
  padding: 2.5rem 0;
  border-bottom: 0.5px solid rgba(102, 102, 102, 0.81); }
  .minor-navigation__image {
    display: inline;
    padding-left: 6rem;
    cursor: pointer; }
    .minor-navigation__image--size {
      height: 2.5rem;
      width: auto; }
  .minor-navigation__nav {
    display: inline; }
  .minor-navigation__list {
    text-decoration: none;
    float: right; }
  .minor-navigation__item {
    display: inline-block;
    list-style: none;
    padding: 0 1.5rem;
    font-size: 120%;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer; }
    .minor-navigation__item:last-child {
      padding-right: 6rem; }
    .minor-navigation__item:first-child {
      color: #FF5F5F; }
    .minor-navigation__item:not(:first-child) {
      color: rgba(102, 102, 102, 0.81); }

.major-navigation {
  border: 1px solid #FF5F5F;
  width: 90%;
  height: 5rem;
  margin: 0 auto; }
  .major-navigation--position {
    display: inline; }
  .major-navigation__search-input {
    padding: 1.3rem 0 1.3rem 4rem;
    box-sizing: border-box;
    width: 30%;
    height: 90%;
    font-size: 1.5rem;
    border-top-left-radius: 50rem;
    border-bottom-left-radius: 50rem;
    border: 1px solid rgba(232, 232, 232, 0.81); }
    .major-navigation__search-input:focus {
      width: 30%;
      outline: none; }
  .major-navigation__text-input {
    padding: 1.3rem 0 1.3rem 4rem;
    width: 30%;
    height: 90%;
    font-size: 1.5rem;
    border: 1px solid rgba(232, 232, 232, 0.81);
    transition: border-bottom .2s; }
    .major-navigation__text-input:focus {
      width: 30%;
      outline: none;
      border-bottom: 1.2px solid #FF5F5F; }
  .major-navigation__select {
    width: 10%;
    height: 90%;
    background-color: #fff;
    border: none; }
  .major-navigation__mode {
    box-sizing: border-box;
    display: inline-block;
    width: 10%;
    height: 90%;
    border: 1px solid rgba(232, 232, 232, 0.81); }
  .major-navigation__list {
    list-style: none; }
  .major-navigation__item {
    display: inline-block;
    margin-left: 2rem;
    cursor: pointer;
    border: 1px solid #FF5F5F;
    border-radius: 50rem; }
  .major-navigation__display-mode {
    width: 10%;
    height: 90%;
    display: inline-block;
    text-align: right;
    border: 1px solid rgba(232, 232, 232, 0.81); }
  .major-navigation__reset {
    width: 8%;
    height: 90%;
    display: inline-block;
    text-align: right;
    padding: .5rem;
    border: 1px solid rgba(232, 232, 232, 0.81);
    cursor: pointer;
    border-top-right-radius: 50rem;
    border-bottom-right-radius: 50rem; }
