* {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

.u-margin-bottom-big {
  margin-bottom: 8rem; }

.u-margin-bottom-medium {
  margin-bottom: 4rem; }

.u-margin-bottom-small {
  margin-bottom: 2rem; }

.row {
  max-width: 140rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^=col-] {
    float: left; }
    .row [class^=col-]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) /2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc((2 * ((100% - 2 * 6rem) / 3) + 6rem)); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc(2 *((100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc(3 *((100% - 3 * 6rem) / 4) + (2 * 6rem)); }

.minor-navigation {
  height: 7rem;
  padding: 2.5rem 0;
  border-bottom: 0.5px solid rgba(102, 102, 102, 0.81); }
  .minor-navigation__image {
    display: inline;
    padding-left: 6rem; }
    .minor-navigation__image--size {
      height: 2.5rem;
      width: auto; }
  .minor-navigation__nav {
    display: inline; }
  .minor-navigation__list {
    text-decoration: none;
    float: right; }
  .minor-navigation__item {
    display: inline-block;
    list-style: none;
    padding: 0 1.5rem;
    font-size: 120%;
    text-transform: uppercase;
    font-weight: bold; }
    .minor-navigation__item:last-child {
      padding-right: 6rem; }
    .minor-navigation__item:first-child {
      color: #FF5F5F; }
    .minor-navigation__item:not(:first-child) {
      color: rgba(102, 102, 102, 0.81); }

.major-navigation {
  padding: 0 6rem; }
  .major-navigation__nav {
    padding-top: 1rem; }
    .major-navigation__nav--block {
      display: inline-block; }
  .major-navigation__search-fonts {
    width: 30%;
    border: 0.5px solid rgba(183, 183, 183, 0.99);
    padding: .85rem 1.5rem;
    border-top-left-radius: 50rem;
    border-bottom-left-radius: 50rem; }
    .major-navigation__search-fonts--search {
      width: 100%;
      border: none;
      font-size: 1.5rem;
      font-family: inherit;
      margin-left: 3rem; }
      .major-navigation__search-fonts--search:focus {
        width: 90%;
        outline: none; }
  .major-navigation__text {
    width: 30%;
    border: 0.5px solid rgba(183, 183, 183, 0.99);
    padding: .8rem 1.5rem;
    margin-left: -.4rem; }
    .major-navigation__text--custom {
      width: 100%;
      border: none;
      font-size: 1.5rem;
      font-family: inherit;
      border-bottom: 1px solid rgba(232, 232, 232, 0.81);
      transition: border-bottom .2s; }
      .major-navigation__text--custom:focus {
        width: 100%;
        outline: none;
        border-bottom: 1.2px solid #FF5F5F; }
  .major-navigation__font-size {
    width: 15%;
    padding: .85rem 1.5rem;
    border: 0.5px solid rgba(183, 183, 183, 0.99); }
    .major-navigation__font-size--select {
      width: 100%; }
  .major-navigation__layout-mode {
    width: 10%;
    padding: .85rem 1.5rem;
    border: 0.5px solid rgba(183, 183, 183, 0.99); }
  .major-navigation__display-mode {
    width: 5%;
    border: 0.5px solid rgba(183, 183, 183, 0.99);
    padding: .5rem; }
  .major-navigation__reset {
    width: 5%;
    padding: .5rem;
    border: 0.5px solid rgba(183, 183, 183, 0.99);
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px; }
