//Colors

$color-primary: rgba(102, 102, 102, 0.81);
$color-primary-light: rgba(232, 232, 232, 0.81);
$color-primary-dark: rgba(183, 183, 183, 0.99);
$color-secondary: #4A4A4A;

$color-black: #000;
$color-red: #FF5F5F;

// Grid
$grid-width: 114rem;
$gutter-vertical: 4rem;
$gutter-horizontal: 6rem;
