shigakoukinoMacBook:~ kohkishiga$ ls
Applications			Pictures
Desktop				Public
Documents			PycharmProjects
Downloads			WebstormProjects
EclipseProjects			advanced-css-course
IdeaProjects			apache-tomcat-9.0.10
Library				java_error_in_webstorm.hprof
Movies				v10-toucans-team-08
Music
shigakoukinoMacBook:~ kohkishiga$ ls -la
total 852264
drwxr-xr-x+  68 kohkishiga  staff       2176 10 21 17:13 .
drwxr-xr-x    6 root        admin        192 12  8  2018 ..
-r--------    1 kohkishiga  staff          7  3 16  2018 .CFUserTextEncoding
-rw-r--r--@   1 kohkishiga  staff      24580 10 21 15:53 .DS_Store
drwxr-xr-x    6 kohkishiga  staff        192  4  4  2019 .IdentityService
drwx------    3 kohkishiga  staff         96  6  7 23:12 .ServiceHub
drwx------    6 kohkishiga  staff        192 10 20 17:57 .Trash
drwxr-xr-x    3 kohkishiga  staff         96  4  4  2019 .android
-rw-r--r--    1 kohkishiga  staff         90  6 10 21:47 .angular-config.json
drwxr-xr-x    3 kohkishiga  staff         96 10  7  2018 .astropy
drwxr-xr-x   16 kohkishiga  staff        512 10 20 19:05 .atom
-rw-r--r--    1 kohkishiga  staff      45714  5 22  2018 .babel.json
-rw-------    1 kohkishiga  staff      10500 10 19 21:10 .bash_history
-rw-r--r--    1 kohkishiga  staff        709 10 20  2018 .bash_profile
-rw-r--r--    1 kohkishiga  staff        142  5  5  2018 .bash_profile-anaconda3.bak
drwx------  108 kohkishiga  staff       3456  7  1 22:47 .bash_sessions
drwxr-xr-x    3 kohkishiga  staff         96 10  6  2018 .cache
drwx------    8 kohkishiga  staff        256  4  4  2019 .config
drwxr-xr-x    6 kohkishiga  staff        192 10  6 16:48 .docker
drwxr-xr-x    6 kohkishiga  staff        192  1 12  2019 .eclipse
drwxr-xr-x    3 kohkishiga  staff         96  3 24  2018 .gem
-rw-r--r--    1 kohkishiga  staff        543 10 21 17:13 .gitconfig
-rw-r--r--    1 kohkishiga  staff       2332  7  9 19:44 .gitignore_global
-rw-r--r--    1 kohkishiga  staff         27  2 16  2018 .hgignore_global
drwxr-xr-x    3 kohkishiga  staff         96 10  7  2018 .ipython
drwxr-xr-x   25 kohkishiga  staff        800  4 20  2018 .jsdt-chromium
drwxr-xr-x    3 kohkishiga  staff         96 10  6  2018 .local
drwxr-xr-x    4 kohkishiga  staff        128  3 14  2019 .m2
drwxr-xr-x    2 kohkishiga  staff         64 10  7  2018 .matplotlib
drwxr-xr-x    3 kohkishiga  staff         96  4  4  2019 .mono
-rw-------    1 kohkishiga  staff       8135  7  1 22:23 .mysql_history
drwxr-xr-x    3 kohkishiga  staff         96  4 12  2018 .netbeans-derby
-rw-------    1 kohkishiga  staff        200  7 23 05:40 .netrc
drwxr-xr-x    5 kohkishiga  staff        160 10 13 12:10 .node-gyp
-rw-------    1 kohkishiga  staff          5  4 16  2018 .node_repl_history
drwxr-xr-x    9 kohkishiga  staff        288  7  7 17:58 .nodebrew
drwxr-xr-x    7 kohkishiga  staff        224 10 13 12:10 .npm
drwxr-xr-x    7 kohkishiga  staff        224  7 29 20:51 .oracle_jre_usage
drwxr-xr-x    6 kohkishiga  staff        192  5 14  2018 .pgadmin
-rw-------    1 kohkishiga  staff      10503  6 11  2018 .psql_history
-rw-------    1 kohkishiga  staff         21 10  7  2018 .python_history
drwxr-xr-x    8 kohkishiga  staff        256 10 11 09:53 .quokka
drwxr-xr-x    5 kohkishiga  staff        160  3 24  2018 .rbenv
drwx------    5 kohkishiga  staff        160  5 25 16:15 .ssh
-rw-r--r--@   1 kohkishiga  staff          0 10 21 17:13 .stCommitMsg
drwxr-xr-x    3 kohkishiga  staff         96  6  7 23:20 .sts4
*~
.DS_Store

# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio and WebStorm
# Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839

# User-specific stuff
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf

# Generated files
.idea/**/contentModel.xml

# Sensitive or high-churn files
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml
".gitignore_global" 139L, 2332C
drwxr-xr-x    6 kohkishiga  staff        192  3 24  2018 .subversion
drwxr-xr-x    3 kohkishiga  staff         96  4  4  2019 .templateengine
drwxr-xr-x    3 kohkishiga  staff         96  3 17  2018 .tooling
-rw-------    1 root        staff       1908 10 20  2018 .viminfo
drwxr-xr-x    4 kohkishiga  staff        128  4 20  2018 .vscode
drwx------@   4 kohkishiga  staff        128 12  1  2018 Applications
drwx------+   6 kohkishiga  staff        192 10 21 15:45 Desktop
drwx------+  13 kohkishiga  staff        416 10  6 18:11 Documents
drwx------+  65 kohkishiga  staff       2080 10 16 17:08 Downloads
drwxr-xr-x    8 kohkishiga  staff        256 11 20  2018 EclipseProjects
drwxr-xr-x   17 kohkishiga  staff        544  1 19  2019 IdeaProjects
drwx------@  76 kohkishiga  staff       2432  6  8 00:07 Library
drwx------+   3 kohkishiga  staff         96 10 20  2018 Movies
drwx------+   4 kohkishiga  staff        128 10 20  2018 Music
drwx------+   9 kohkishiga  staff        288 10 15 14:27 Pictures
drwxr-xr-x+   4 kohkishiga  staff        128  3 16  2018 Public
drwxr-xr-x    8 kohkishiga  staff        256 10  7  2018 PycharmProjects
drwxr-xr-x    4 kohkishiga  staff        128  7  9 18:55 WebstormProjects
drwxr-xr-x   10 kohkishiga  staff        320 10 12 09:58 advanced-css-course
drwxr-xr-x@  13 kohkishiga  staff        416  7  7  2018 apache-tomcat-9.0.10
-rw-------    1 kohkishiga  staff  427660816  7 10 22:34 java_error_in_webstorm.hprof
drwxr-xr-x   19 kohkishiga  staff        608  7 19 19:36 v10-toucans-team-08
shigakoukinoMacBook:~ kohkishiga$ vi .gitignore_global
shigakoukinoMacBook:~ kohkishiga$ ls -lht | grep '.gitignore'
shigakoukinoMacBook:~ kohkishiga$ ls -lht
total 851960
drwx------+  6 kohkishiga  staff   192B 10 21 15:45 Desktop
drwx------+ 65 kohkishiga  staff   2.0K 10 16 17:08 Downloads
drwx------+  9 kohkishiga  staff   288B 10 15 14:27 Pictures
drwxr-xr-x  10 kohkishiga  staff   320B 10 12 09:58 advanced-css-course
drwx------+ 13 kohkishiga  staff   416B 10  6 18:11 Documents
drwxr-xr-x  19 kohkishiga  staff   608B  7 19 19:36 v10-toucans-team-08
-rw-------   1 kohkishiga  staff   408M  7 10 22:34 java_error_in_webstorm.hprof
drwxr-xr-x   4 kohkishiga  staff   128B  7  9 18:55 WebstormProjects
drwx------@ 76 kohkishiga  staff   2.4K  6  8 00:07 Library
drwxr-xr-x  17 kohkishiga  staff   544B  1 19  2019 IdeaProjects
drwx------@  4 kohkishiga  staff   128B 12  1  2018 Applications
drwxr-xr-x   8 kohkishiga  staff   256B 11 20  2018 EclipseProjects
drwx------+  3 kohkishiga  staff    96B 10 20  2018 Movies
drwx------+  4 kohkishiga  staff   128B 10 20  2018 Music
drwxr-xr-x   8 kohkishiga  staff   256B 10  7  2018 PycharmProjects
drwxr-xr-x@ 13 kohkishiga  staff   416B  7  7  2018 apache-tomcat-9.0.10
drwxr-xr-x+  4 kohkishiga  staff   128B  3 16  2018 Public
shigakoukinoMacBook:~ kohkishiga$ cd ../
shigakoukinoMacBook:Users kohkishiga$ ls
Guest		Shared		kohkishiga
shigakoukinoMacBook:Users kohkishiga$ cd kohkishiga/
shigakoukinoMacBook:~ kohkishiga$
shigakoukinoMacBook:~ kohkishiga$
shigakoukinoMacBook:~ kohkishiga$
shigakoukinoMacBook:~ kohkishiga$
shigakoukinoMacBook:~ kohkishiga$
shigakoukinoMacBook:~ kohkishiga$
shigakoukinoMacBook:~ kohkishiga$
shigakoukinoMacBook:~ kohkishiga$
shigakoukinoMacBook:~ kohkishiga$
shigakoukinoMacBook:~ kohkishiga$
shigakoukinoMacBook:~ kohkishiga$
shigakoukinoMacBook:~ kohkishiga$
shigakoukinoMacBook:~ kohkishiga$
shigakoukinoMacBook:~ kohkishiga$
shigakoukinoMacBook:~ kohkishiga$
shigakoukinoMacBook:~ kohkishiga$
shigakoukinoMacBook:~ kohkishiga$
shigakoukinoMacBook:~ kohkishiga$
shigakoukinoMacBook:~ kohkishiga$
shigakoukinoMacBook:~ kohkishiga$
shigakoukinoMacBook:~ kohkishiga$
shigakoukinoMacBook:~ kohkishiga$
shigakoukinoMacBook:~ kohkishiga$
shigakoukinoMacBook:~ kohkishiga$
shigakoukinoMacBook:~ kohkishiga$
shigakoukinoMacBook:~ kohkishiga$
shigakoukinoMacBook:~ kohkishiga$ ls -la
total 852264
drwxr-xr-x+  68 kohkishiga  staff       2176 10 22 18:05 .
drwxr-xr-x    6 root        admin        192 12  8  2018 ..
-r--------    1 kohkishiga  staff          7  3 16  2018 .CFUserTextEncoding
-rw-r--r--@   1 kohkishiga  staff      24580 10 22 08:39 .DS_Store
drwxr-xr-x    6 kohkishiga  staff        192  4  4  2019 .IdentityService
drwx------    3 kohkishiga  staff         96  6  7 23:12 .ServiceHub
drwx------    6 kohkishiga  staff        192 10 20 17:57 .Trash
drwxr-xr-x    3 kohkishiga  staff         96  4  4  2019 .android
-rw-r--r--    1 kohkishiga  staff         90  6 10 21:47 .angular-config.json
drwxr-xr-x    3 kohkishiga  staff         96 10  7  2018 .astropy
drwxr-xr-x   16 kohkishiga  staff        512 10 20 19:05 .atom
-rw-r--r--    1 kohkishiga  staff      45714  5 22  2018 .babel.json
-rw-------    1 kohkishiga  staff      10578 10 21 17:31 .bash_history
-rw-r--r--    1 kohkishiga  staff        709 10 20  2018 .bash_profile
-rw-r--r--    1 kohkishiga  staff        142  5  5  2018 .bash_profile-anaconda3.bak
drwx------  113 kohkishiga  staff       3616 10 21 17:31 .bash_sessions
drwxr-xr-x    3 kohkishiga  staff         96 10  6  2018 .cache
drwx------    8 kohkishiga  staff        256  4  4  2019 .config
drwxr-xr-x    6 kohkishiga  staff        192 10  6 16:48 .docker
drwxr-xr-x    6 kohkishiga  staff        192  1 12  2019 .eclipse
drwxr-xr-x    3 kohkishiga  staff         96  3 24  2018 .gem
-rw-r--r--    1 kohkishiga  staff        543 10 21 17:31 .gitconfig
-rw-r--r--@   1 kohkishiga  staff       2332  7  9 19:44 .gitignore_global
-rw-r--r--    1 kohkishiga  staff         27  2 16  2018 .hgignore_global
drwxr-xr-x    3 kohkishiga  staff         96 10  7  2018 .ipython
drwxr-xr-x   25 kohkishiga  staff        800  4 20  2018 .jsdt-chromium
drwxr-xr-x    3 kohkishiga  staff         96 10  6  2018 .local
drwxr-xr-x    4 kohkishiga  staff        128  3 14  2019 .m2
drwxr-xr-x    2 kohkishiga  staff         64 10  7  2018 .matplotlib
drwxr-xr-x    3 kohkishiga  staff         96  4  4  2019 .mono
-rw-------    1 kohkishiga  staff       8135  7  1 22:23 .mysql_history
drwxr-xr-x    3 kohkishiga  staff         96  4 12  2018 .netbeans-derby
-rw-------    1 kohkishiga  staff        200  7 23 05:40 .netrc
drwxr-xr-x    5 kohkishiga  staff        160 10 13 12:10 .node-gyp
-rw-------    1 kohkishiga  staff          5  4 16  2018 .node_repl_history
drwxr-xr-x    9 kohkishiga  staff        288  7  7 17:58 .nodebrew
drwxr-xr-x    7 kohkishiga  staff        224 10 13 12:10 .npm
drwxr-xr-x    7 kohkishiga  staff        224  7 29 20:51 .oracle_jre_usage
drwxr-xr-x    6 kohkishiga  staff        192  5 14  2018 .pgadmin
-rw-------    1 kohkishiga  staff      10503  6 11  2018 .psql_history
-rw-------    1 kohkishiga  staff         21 10  7  2018 .python_history
drwxr-xr-x    8 kohkishiga  staff        256 10 11 09:53 .quokka
drwxr-xr-x    5 kohkishiga  staff        160  3 24  2018 .rbenv
drwx------    5 kohkishiga  staff        160  5 25 16:15 .ssh
-rw-r--r--@   1 kohkishiga  staff          0 10 21 17:31 .stCommitMsg
drwxr-xr-x    3 kohkishiga  staff         96  6  7 23:20 .sts4
drwxr-xr-x    6 kohkishiga  staff        192  3 24  2018 .subversion
drwxr-xr-x    3 kohkishiga  staff         96  4  4  2019 .templateengine
drwxr-xr-x    3 kohkishiga  staff         96  3 17  2018 .tooling
-rw-------    1 root        staff       1908 10 20  2018 .viminfo
drwxr-xr-x    4 kohkishiga  staff        128  4 20  2018 .vscode
drwx------@   4 kohkishiga  staff        128 12  1  2018 Applications
drwx------+   6 kohkishiga  staff        192 10 21 15:45 Desktop
drwx------+  13 kohkishiga  staff        416 10  6 18:11 Documents
drwx------+  65 kohkishiga  staff       2080 10 16 17:08 Downloads
drwxr-xr-x    8 kohkishiga  staff        256 11 20  2018 EclipseProjects
drwxr-xr-x   17 kohkishiga  staff        544  1 19  2019 IdeaProjects
drwx------@  76 kohkishiga  staff       2432  6  8 00:07 Library
drwx------+   3 kohkishiga  staff         96 10 20  2018 Movies
drwx------+   4 kohkishiga  staff        128 10 20  2018 Music
drwx------+   9 kohkishiga  staff        288 10 15 14:27 Pictures
drwxr-xr-x+   4 kohkishiga  staff        128  3 16  2018 Public
drwxr-xr-x    8 kohkishiga  staff        256 10  7  2018 PycharmProjects
drwxr-xr-x    4 kohkishiga  staff        128  7  9 18:55 WebstormProjects
drwxr-xr-x   10 kohkishiga  staff        320 10 12 09:58 advanced-css-course
drwxr-xr-x@  13 kohkishiga  staff        416  7  7  2018 apache-tomcat-9.0.10
-rw-------    1 kohkishiga  staff  427660816  7 10 22:34 java_error_in_webstorm.hprof
drwxr-xr-x   19 kohkishiga  staff        608  7 19 19:36 v10-toucans-team-08
shigakoukinoMacBook:~ kohkishiga$ ls -la | grep '.gitignore'
-rw-r--r--@   1 kohkishiga  staff       2332  7  9 19:44 .gitignore_global
shigakoukinoMacBook:~ kohkishiga$
shigakoukinoMacBook:~ kohkishiga$
shigakoukinoMacBook:~ kohkishiga$
shigakoukinoMacBook:~ kohkishiga$
shigakoukinoMacBook:~ kohkishiga$
shigakoukinoMacBook:~ kohkishiga$
shigakoukinoMacBook:~ kohkishiga$
shigakoukinoMacBook:~ kohkishiga$
shigakoukinoMacBook:~ kohkishiga$
shigakoukinoMacBook:~ kohkishiga$ vi .gitignore_global
shigakoukinoMacBook:~ kohkishiga$ git rm -r --cached .
fatal: Not a git repository (or any of the parent directories): .git
shigakoukinoMacBook:~ kohkishiga$ ls
Applications			IdeaProjects			Public				java_error_in_webstorm.hprof
Desktop				Library				PycharmProjects			v10-toucans-team-08
Documents			Movies				WebstormProjects
Downloads			Music				advanced-css-course
EclipseProjects			Pictures			apache-tomcat-9.0.10
shigakoukinoMacBook:~ kohkishiga$ cd Documents/GithubRepositories/
.DS_Store      ChinguProject/
shigakoukinoMacBook:~ kohkishiga$ cd Documents/GithubRepositories/ChinguProject/
.DS_Store            Voyage13/            v10-toucans-team-08/
shigakoukinoMacBook:~ kohkishiga$ cd Documents/GithubRepositories/ChinguProject/Voyage13/
shigakoukinoMacBook:Voyage13 kohkishiga$ ls
Prework-Voyage13
shigakoukinoMacBook:Voyage13 kohkishiga$ cd Prework-Voyage13/
shigakoukinoMacBook:Prework-Voyage13 kohkishiga$ ls -la
total 280
drwxr-xr-x   13 kohkishiga  staff     416 10 22 18:15 .
drwxr-xr-x    4 kohkishiga  staff     128 10 22 18:15 ..
-rw-r--r--@   1 kohkishiga  staff    6148 10 22 18:15 .DS_Store
drwxr-xr-x   16 kohkishiga  staff     512 10 22 18:13 .git
-rw-r--r--@   1 kohkishiga  staff      14 10 22 18:10 .gitignore
-rw-r--r--    1 kohkishiga  staff      79 10 20 17:00 README.md
drwxr-xr-x    3 kohkishiga  staff      96 10 21 16:17 css
drwxr-xr-x    2 kohkishiga  staff      64 10 21 15:49 img
-rw-r--r--    1 kohkishiga  staff     358 10 21 16:59 index.html
drwxr-xr-x  304 kohkishiga  staff    9728 10 21 16:57 node_modules
-rw-r--r--    1 kohkishiga  staff  116567 10 21 16:57 package-lock.json
-rw-r--r--    1 kohkishiga  staff     378 10 21 16:58 package.json
drwxr-xr-x   10 kohkishiga  staff     320 10 21 16:17 sass
shigakoukinoMacBook:Prework-Voyage13 kohkishiga$ git rm -r --cached .
rm 'README.md'
rm 'solo-project-voyage-13/.idea/misc.xml'
rm 'solo-project-voyage-13/.idea/modules.xml'
rm 'solo-project-voyage-13/.idea/solo-project-voyage-13.iml'
rm 'solo-project-voyage-13/.idea/vcs.xml'
rm 'solo-project-voyage-13/.idea/workspace.xml'
rm 'solo-project-voyage-13/css/style.css'
rm 'solo-project-voyage-13/index.html'
rm 'solo-project-voyage-13/sass/abstracts/_functions.scss'
rm 'solo-project-voyage-13/sass/abstracts/_mixins.scss'
rm 'solo-project-voyage-13/sass/abstracts/_variables.scss'
rm 'solo-project-voyage-13/sass/base/_animations.scss'
rm 'solo-project-voyage-13/sass/base/_base.scss'
rm 'solo-project-voyage-13/sass/base/_typography.scss'
rm 'solo-project-voyage-13/sass/base/_utilities.scss'
rm 'solo-project-voyage-13/sass/components/_button.scss'
rm 'solo-project-voyage-13/sass/components/_card.scss'
rm 'solo-project-voyage-13/sass/layout/_footer.scss'
rm 'solo-project-voyage-13/sass/layout/_grid.scss'
rm 'solo-project-voyage-13/sass/layout/_header.scss'
rm 'solo-project-voyage-13/sass/layout/_navigation.scss'
rm 'solo-project-voyage-13/sass/main.scss'
rm 'solo-project-voyage-13/sass/pages/_home.scss'
shigakoukinoMacBook:Prework-Voyage13 kohkishiga$ ls
README.md		img			node_modules		package.json
css			index.html		package-lock.json	sass
shigakoukinoMacBook:Prework-Voyage13 kohkishiga$ cd ../
shigakoukinoMacBook:Voyage13 kohkishiga$ ls
Prework-Voyage13
shigakoukinoMacBook:Voyage13 kohkishiga$ cd /
shigakoukinoMacBook:/ kohkishiga$ ls
Applications			Users				dev				private
Developer			Volumes				etc				sbin
Library				anaconda3			home				tmp
Network				bin				installer.failurerequests	usr
System				cores				net				var
shigakoukinoMacBook:/ kohkishiga$ cd Users/
.localized  Guest/      Shared/     kohkishiga/
shigakoukinoMacBook:/ kohkishiga$ cd Users/kohkishiga/
shigakoukinoMacBook:~ kohkishiga$ ls -la
total 852264
drwxr-xr-x+  68 kohkishiga  staff       2176 10 22 18:09 .
drwxr-xr-x    6 root        admin        192 12  8  2018 ..
-r--------    1 kohkishiga  staff          7  3 16  2018 .CFUserTextEncoding
-rw-r--r--@   1 kohkishiga  staff      24580 10 22 08:39 .DS_Store
drwxr-xr-x    6 kohkishiga  staff        192  4  4  2019 .IdentityService
drwx------    3 kohkishiga  staff         96  6  7 23:12 .ServiceHub
drwx------    7 kohkishiga  staff        224 10 22 18:15 .Trash
drwxr-xr-x    3 kohkishiga  staff         96  4  4  2019 .android
-rw-r--r--    1 kohkishiga  staff         90  6 10 21:47 .angular-config.json
drwxr-xr-x    3 kohkishiga  staff         96 10  7  2018 .astropy
drwxr-xr-x   16 kohkishiga  staff        512 10 20 19:05 .atom
-rw-r--r--    1 kohkishiga  staff      45714  5 22  2018 .babel.json
-rw-------    1 kohkishiga  staff      10791 10 22 18:11 .bash_history
-rw-r--r--    1 kohkishiga  staff        709 10 20  2018 .bash_profile
-rw-r--r--    1 kohkishiga  staff        142  5  5  2018 .bash_profile-anaconda3.bak
drwx------  121 kohkishiga  staff       3872 10 22 18:11 .bash_sessions
drwxr-xr-x    3 kohkishiga  staff         96 10  6  2018 .cache
drwx------    8 kohkishiga  staff        256  4  4  2019 .config
drwxr-xr-x    6 kohkishiga  staff        192 10  6 16:48 .docker
drwxr-xr-x    6 kohkishiga  staff        192  1 12  2019 .eclipse
drwxr-xr-x    3 kohkishiga  staff         96  3 24  2018 .gem
-rw-r--r--    1 kohkishiga  staff        543 10 21 17:31 .gitconfig
-rw-r--r--@   1 kohkishiga  staff       2332  7  9 19:44 .gitignore_global
-rw-r--r--    1 kohkishiga  staff         27  2 16  2018 .hgignore_global
drwxr-xr-x    3 kohkishiga  staff         96 10  7  2018 .ipython
drwxr-xr-x   25 kohkishiga  staff        800  4 20  2018 .jsdt-chromium
drwxr-xr-x    3 kohkishiga  staff         96 10  6  2018 .local
drwxr-xr-x    4 kohkishiga  staff        128  3 14  2019 .m2
drwxr-xr-x    2 kohkishiga  staff         64 10  7  2018 .matplotlib
drwxr-xr-x    3 kohkishiga  staff         96  4  4  2019 .mono
-rw-------    1 kohkishiga  staff       8135  7  1 22:23 .mysql_history
drwxr-xr-x    3 kohkishiga  staff         96  4 12  2018 .netbeans-derby
-rw-------    1 kohkishiga  staff        200  7 23 05:40 .netrc
drwxr-xr-x    5 kohkishiga  staff        160 10 13 12:10 .node-gyp
-rw-------    1 kohkishiga  staff          5  4 16  2018 .node_repl_history
drwxr-xr-x    9 kohkishiga  staff        288  7  7 17:58 .nodebrew
drwxr-xr-x    7 kohkishiga  staff        224 10 13 12:10 .npm
drwxr-xr-x    7 kohkishiga  staff        224  7 29 20:51 .oracle_jre_usage
drwxr-xr-x    6 kohkishiga  staff        192  5 14  2018 .pgadmin
-rw-------    1 kohkishiga  staff      10503  6 11  2018 .psql_history
-rw-------    1 kohkishiga  staff         21 10  7  2018 .python_history
drwxr-xr-x    8 kohkishiga  staff        256 10 11 09:53 .quokka
drwxr-xr-x    5 kohkishiga  staff        160  3 24  2018 .rbenv
drwx------    5 kohkishiga  staff        160  5 25 16:15 .ssh
-rw-r--r--@   1 kohkishiga  staff          0 10 21 17:31 .stCommitMsg
*~
.DS_Store

# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio and WebStorm
# Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839

# User-specific stuff
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf

# Generated files
.idea/**/contentModel.xml

# Sensitive or high-churn files
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml
.idea/**/dbnavigator.xml
