.scroll-top {
  &-wrapper {
    visibility: hidden;
    display: inline-block;
    border-radius: 50%;

    position: fixed;
    bottom: 5rem;
    right: 5rem;

    z-index: 9999;

    background-color: white;

    border: 1px solid rgba($color-primary-light, 0.5);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);

    &:hover {
      background-color: rgba($color-primary-light, 0.2);
    }
  }

  &-button {
    border: none;

    width: 5.5rem;
    height: 5.5rem;
    border-radius: 50%;

    z-index: 9999;

    border: 1px solid rgba($color-primary-light, 0.5);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);

    cursor: pointer;

    &:focus {
      outline: none;
    }

    &:hover {
      background-color: rgba($color-primary-light, 0.2);
    }
  }
}
