//Minor Navigation

.minor-navigation {
  width: 90%;
  height: 7rem;
  padding: 2.5rem 0;
  margin: 0 auto;

  font-family: "Roboto", sans-serif;
  font-weight: 400;

  &__lockup-logo {
    height: 2.5rem;
    opacity: 0.6;
  }

  &__lockup-brand {
    font-family: "Product Sans", Arial, Helvetica, sans-serif;
    font-size: 213%;
    align-self: center;
    font-weight: lighter;
    opacity: 0.6;
  }

  &__nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  &__image {
    display: flex;
    // align-items: center;
    width: 15rem;
    justify-content: space-around;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    width: 40rem;

    &__item {
      list-style: none;
      font-size: 140%;
      text-transform: uppercase;
      font-weight: inherit;
      cursor: pointer;

      &:last-child {
        padding-right: 1rem;
      }

      &:first-child {
        color: $color-red;
      }

      &:not(:first-child) {
        color: $color-primary;
      }
    }
  }
}

//Major Navigation
.major-navigation {
  width: 90%;
  height: 5rem;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  border: 1px solid $color-primary-light;

  border-top-left-radius: 50rem;
  border-bottom-left-radius: 50rem;
  border-top-right-radius: 50rem;
  border-bottom-right-radius: 50rem;

  .search-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: baseline;

    width: 30%;
  }

  &__search {
    align-self: center;
    padding-left: 1rem;

    &-input {
      width: 25rem;
      height: 4rem;
      padding-bottom: 0.5rem;
      font-size: 1.5rem;
      border: none;

      &:focus {
        width: 90%;
        outline: none;
      }
    }
  }

  &__text {
    width: 40%;
    padding: 0 0.5rem;

    &-input {
      width: 65%;
      height: 90%;
      font-size: 1.5rem;

      border: none;
      border-bottom: 0.5px solid $color-primary-light;

      transform: translateX(5%);
      transition: border-bottom 0.2s;

      &:focus {
        outline: none;
        border-bottom: 1px solid $color-red;
      }
    }

    &-select {
      background-color: #fff;
      width: 30%;
      height: 3.5rem;
      border: none;
      border-right: 1px solid $color-primary-light;

      -webkit-appearance: none;
      -webkit-border-radius: 0px;

      &:focus {
        outline: none;
      }
    }
  }

  &__font-size {
    display: flex;
    flex-direction: row;
    justify-content: center;

    flex: 1;
    padding: 0 0.5rem;

    &-select {
      background-color: #fff;
      width: 10rem;
      border: none;

      -webkit-appearance: none;
      -webkit-border-radius: 0px;

      &:focus {
        outline: none;
      }
    }
  }

  &__mode {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    flex-grow: 2;

    &-background {
      align-self: center;
      border-right: 1px solid $color-primary-light;
      padding-right: 2rem;
      cursor: pointer;
    }

    &-display {
      align-self: center;
      border-right: 1px solid $color-primary-light;
      padding-right: 2rem;
      cursor: pointer;
    }

    &-reset {
      align-self: center;
      padding-right: 2rem;
      cursor: pointer;
    }
  }

  &__item {
    cursor: pointer;
    border: 1px solid $color-primary-light;
    border-radius: 50rem;
    padding: 1rem;
    display: inline-block;

    &--black {
      background-color: $color-black;
    }

    &--white {
      background-color: white;
    }

    &:first-child {
      margin-left: 2.5rem;
    }

    &:last-child {
      margin-left: 2rem;
    }
  }
}

.border-right {
  border-right: 1px solid $color-primary-light;
}
