<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      href="https://fonts.googleapis.com/css?family=Anton|Bitter|Dancing+Script|Dosis|Liu+Jian+Mao+Cao|Raleway|Shadows+Into+Light|Staatliches&display=swap"
      rel="stylesheet"
    />

    <link
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />

    <link rel="shortcut icon" type="image/png" href="/img/favicon.png" />

    <link rel="stylesheet" href="css/style.css" />

    <title>Solo-Project-Voyage-13</title>
  </head>
  <body>
    <header class=" header u-margin-bottom-small">
      <div class="minor-navigation">
        <nav class="minor-navigation__nav">
          <div class="minor-navigation__image">
            <span
              ><img
                src="./img/logo-lockup.png"
                alt="Google Logo"
                class="minor-navigation__lockup-logo"
            /></span>
            <span class="minor-navigation__lockup-brand">Fonts</span>
          </div>
          <ul class="minor-navigation__list">
            <li class="minor-navigation__list__item">Catalog</li>
            <li class="minor-navigation__list__item">Featured</li>
            <li class="minor-navigation__list__item">Articles</li>
            <li class="minor-navigation__list__item">About</li>
          </ul>
        </nav>
      </div>
      <!-- <div class="navigation-border u-margin-bottom-small" />
       -->
      <hr class="u-margin-bottom-small" />
      <div class="major-navigation">
        <div class="major-navigation__search">
          <div class="major-navigation__icon">
            <i class="material-icons">
              search
            </i>
          </div>
          <input
            type="text"
            placeholder="Search fonts"
            class="major-navigation__search-input"
          />
        </div>
        <div class="major-navigation__text">
          <input
            type="text"
            placeholder="Type Something"
            class="major-navigation__text-input"
          />
        </div>
        <select name="size" class="major-navigation__select">
          <option value="20">20px</option>
          <option value="24">24px</option>
          <option value="28">28px</option>
          <option value="32">32px</option>
        </select>
        <div class="major-navigation__mode">
          <ul class="major-navigation__list">
            <li
              class="major-navigation__item major-navigation__item--black"
            ></li>
            <li
              class="major-navigation__item major-navigation__item--white"
            ></li>
          </ul>
        </div>
        <div class="major-navigation__display-mode">
          <i class="material-icons">
            view_list
          </i>
        </div>
        <div class="major-navigation__reset major-navigation__nav--block">
          <i class="material-icons">
            refresh
          </i>
        </div>
      </div>
    </header>

    <main>
      <div class="row">
        <div class="col-1-of-4">
          <div class="card">
            <div class="card__icons">
              <i class="material-icons">
                add_circle_outline
              </i>
            </div>
            <p class="card__name">Anton</p>
            <p class="card__creator">Vernon Adams(1 style)</p>
            <p class="card__sample-text card__family--anton">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              Architecto at aut cum dicta dolorum facere ipsa iure minima
              molestiae
            </p>
          </div>
        </div>
        <div class="col-1-of-4">
          <div class="card">
            <div class="card__icons">
              <i class="material-icons">
                add_circle_outline
              </i>
            </div>
            <p class="card__name">Bitter</p>
            <p class="card__creator">Huerta Tipográfica(3 styles)</p>
            <p class="card__sample-text card__family--bitter">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              Architecto at aut cum dicta dolorum facere ipsa iure minima
              molestiae
            </p>
          </div>
        </div>
        <div class="col-1-of-4">
          <div class="card">
            <div class="card__icons">
              <i class="material-icons">
                add_circle_outline
              </i>
            </div>
            <p class="card__name">Dancing Script</p>
            <p class="card__creator">Impallari Type (4 styles)</p>
            <p class="card__sample-text card__family--dancing-script">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              Architecto at aut cum dicta dolorum facere ipsa iure minima
              molestiae
            </p>
          </div>
        </div>
        <div class="col-1-of-4">
          <div class="card">
            <div class="card__icons">
              <i class="material-icons">
                add_circle_outline
              </i>
            </div>
            <p class="card__name">Dosis</p>
            <p class="card__creator">Impallari Type(7 types)</p>
            <p class="card__sample-text card__family--dosis">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              Architecto at aut cum dicta dolorum facere ipsa iure minima
              molestiae
            </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-1-of-4">
          <div class="card">
            <div class="card__icons">
              <i class="material-icons">
                add_circle_outline
              </i>
            </div>
            <p class="card__name">Liu Jian Mao Cao</p>
            <p class="card__creator">Liu Zhengjiang(1 style)</p>
            <p class="card__sample-text card__family--ljmc">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              Architecto at aut cum dicta dolorum facere ipsa iure minima
              molestiae
            </p>
          </div>
        </div>
        <div class="col-1-of-4">
          <div class="card">
            <div class="card__icons">
              <i class="material-icons">
                add_circle_outline
              </i>
            </div>
            <p class="card__name">Raleway</p>
            <p class="card__creator">Multiple Designers</p>
            <p class="card__sample-text card__family--raleway">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              Architecto at aut cum dicta dolorum facere ipsa iure minima
              molestiae
            </p>
          </div>
        </div>
        <div class="col-1-of-4">
          <div class="card">
            <div class="card__icons">
              <i class="material-icons">
                add_circle_outline
              </i>
            </div>
            <p class="card__name">Shadows into Light</p>
            <p class="card__creator">Kimberly Geswein(1 style)</p>
            <p class="card__sample-text card__family--shadows-into-light">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              Architecto at aut cum dicta dolorum facere ipsa iure minima
              molestiae
            </p>
          </div>
        </div>
        <div class="col-1-of-4">
          <div class="card">
            <div class="card__icons">
              <i class="material-icons">
                add_circle_outline
              </i>
            </div>
            <p class="card__name">Staatliches</p>
            <p class="card__creator">Brian LaRossa,Erica Carras(1 style)</p>
            <p class="card__sample-text card__family--staatliches">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              Architecto at aut cum dicta dolorum facere ipsa iure minima
              molestiae
            </p>
          </div>
        </div>
      </div>
    </main>
    <footer class="footer u-margin-top-small u-margin-bottom-medium">
      <p>Coded and Copyright &copy; by KohkiShiga | 2019 | Chingu</p>
    </footer>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      style="left: 10px;"
    >
      <path fill="none" d="M0 0h24v24H0V0z"></path>
      <path
        d="M16.56 8.94L7.62 0 6.21 1.41l2.38 2.38-5.15 5.15c-.59.59-.59 1.54 0 2.12l5.5 5.5c.29.29.68.44 1.06.44s.77-.15 1.06-.44l5.5-5.5c.59-.58.59-1.53 0-2.12zM5.21 10L10 5.21 14.79 10H5.21zM19 11.5s-2 2.17-2 3.5c0 1.1.9 2 2 2s2-.9 2-2c0-1.33-2-3.5-2-3.5z"
      ></path>
      <path fill-opacity=".36" d="M0 20h24v4H0v-4z"></path>
    </svg>
    <svg
      ng-if="globalFontPreviewToolbar.isGridLayout"
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      class=""
      style=""
    >
      <path opacity=".87" fill="none" d="M0 0h24v24H0V0z"></path>
      <path
        d="M3 5v14h17V5H3zm4 2v2H5V7h2zm-2 6v-2h2v2H5zm0 2h2v2H5v-2zm13 2H9v-2h9v2zm0-4H9v-2h9v2zm0-4H9V7h9v2z"
      ></path>
    </svg>
    <svg
      ng-if="globalFontPreviewToolbar.isRowLayout"
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      class=""
      style=""
    >
      <path fill="none" d="M0 0h24v24H0V0z"></path>
      <path
        d="M4 5v13h17V5H4zm10 2v3.5h-3V7h3zM6 7h3v3.5H6V7zm0 9v-3.5h3V16H6zm5 0v-3.5h3V16h-3zm8 0h-3v-3.5h3V16zm-3-5.5V7h3v3.5h-3z"
      ></path>
    </svg>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
    >
      <path fill="none" d="M0 0h24v24H0V0z"></path>
      <path
        d="M17.65 6.35C16.2 4.9 14.21 4 12 4c-4.42 0-7.99 3.58-7.99 8s3.57 8 7.99 8c3.73 0 6.84-2.55 7.73-6h-2.08c-.82 2.33-3.04 4-5.65 4-3.31 0-6-2.69-6-6s2.69-6 6-6c1.66 0 3.14.69 4.22 1.78L13 11h7V4l-2.35 2.35z"
      ></path>
    </svg>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="search-panel-query-icon"
      width="24px"
      height="24px"
      viewBox="0 0 24 24"
    >
      <path
        d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"
      ></path>
    </svg>
  </body>
</html>
